@import './variables.css';

/* Typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  margin-bottom: var(--spacing-md);
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color var(--transition-fast);
}

a:hover {
  /* color: var(--primary-dark); */
}

/* Form Elements */
input, textarea, select {
  font-family: var(--font-primary);
  font-size: 14px;
  color: var(--dark);
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

button {
  font-family: var(--font-primary);
  cursor: pointer;
  border: none;
  transition: all var(--transition-base);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--light-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-light);
  border-radius: var(--radius-md);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}

